
.profile{   width: 300px;
            height: 300px;
            border: 2px solid #004d4d;
            border-radius:10%;
            object-fit: cover;


            }


.body {
     background-color: #2D1B57; /* Dark Purple */
     color: #D3D3D3; /* Light Gray Text */
 }

 header, footer {
     background-color: #3E1F73; /* Slightly lighter purple */
 }
 .navbar{
 background-color: #3E1F73;
 }

 .accent {
     color: #C0C0C0; /* Silver Accent */
 }

